@charset 'utf-8';
/* CSS Document */

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('../font/NotoSansKR-Regular.woff2') format('woff2'), 
        url('../font/NotoSansKR-Regular.woff') format('woff'),
        url('../font/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src: local('※'),
        url('../font/NotoSansKR-Bold.woff2') format('woff2'), 
        url('../font/NotoSansKR-Bold.woff') format('woff'),
        url('../font/NotoSansKR-Bold.otf') format('opentype');
}

/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;}
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m:after {content: '\00a0';}
.ir-hidden {position: absolute; left: -9999px;}


/* common */
body {font-family: 'NotoSansKR', '맑은 고딕', 'malgun gothic', '돋움', Dotum, 'Apple SD Gothic Neo', 
    Helvetica, sans-serif; font-weight: 400; font-size: 14px; color: #222222; background: #ffffff;}
#wrapper {}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; height: 40px; text-align: center; 
           line-height: 40px; font-size: 16px; background: rgba(0, 0, 0, 0.5); color: #ffffff;
           transition: top 0.3s; z-index: 10000;}
#skip-nav:focus {top: 0;}

#header {position: fixed; left: 0; top: 0; width: 100%; height: 100px; z-index: 1000;
         }
#header:after {content: ''; position: absolute; left: 0; top: 100%; width: 100%; height: 0; 
               background: pink;
               top: calc(100% + 1px); box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.1);}
#header h1 {position: absolute; left: 30px; top: 0;}
#gnb {position: absolute; left: 300px; top: 0; font-size: 15px; color: #999999; 
      overflow: hidden; height: 100px; z-index: 100; transition: height 0.3s;}
#gnb > ul > li {float: left; height: 300px;}
#gnb > ul > li + li {margin-left: 5px;}
#gnb > ul > li > a {position: relative; display: block; padding: 0 30px; height: 100px; 
                    line-height: 100px; transition: color 0.3s;}
#gnb > ul > li:hover > a {color: #000000;}
#gnb > ul > li > a:after {transition:width 0.3s; content: ''; position: absolute; left: 50%; 
                          transform: translate(-50%, 0); bottom: 0; width: 0; height: 1px; 
                          background: #000000;}
#gnb > ul > li:hover > a:after {width: 100%;}
#gnb > ul > li > ul {margin-top: 30px;}
#gnb > ul > li > ul > li + li {margin-top: 10px;}
#gnb > ul > li > ul > li > a {display: block; text-align: center; transition: color 0.3s;}
#gnb > ul > li > ul > li > a:hover {color: #000000;}

#header.on {background: #ffffff; border-bottom: 1px solid #e0e0e0;}
#header.on:after {height: 200px;}
#header.on #gnb {height: 300px;}

#top-lang {position: absolute; right: 100px; top: 50%; transform: translate(0, -50%);}
#top-lang li {float: left;}
#top-lang li a {display: block; background: #eeeeee; padding: 6px 15px;}
#top-lang li:first-child a {border-top-left-radius: 20px; border-bottom-left-radius: 20px;}
#top-lang li:last-child a {border-top-right-radius: 20px; border-bottom-right-radius: 20px;}
#top-lang li.on a {background: linear-gradient(to right, rgb(43, 182, 116) 0%, 
                rgb(12, 169, 180) 100%); color: #ffffff;}

#header a.sitemap {position: absolute; right: 30px; top: 50%; transform: translate(0, -50%); 
                    font-size: 24px; color: #999999; line-height: 0;}

/*main 슬라이드*/
#main-visual {position: relative; height: 850px;}

#main-visual ul.slide {}
#main-visual ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%;  display: none;}
/*width: 100%; 의미 : 해당 요소의 display 속성이 inline으로 되서 컨텐츠 영역만큼 커짐*/

#main-visual ul.slide li:first-child {background: url(../img/main_visual_01.jpg) center center no-repeat;
                                      display: block;}
#main-visual ul.slide li:last-child {background: url(../img/main_visual_02_sub.png) 90% bottom no-repeat,
 url(../img/main_visual_02.jpg) center center no-repeat;} 

#main-visual ul.slide li p.slogan {position: absolute; left: 200px; top: 50%; 
                                    transform: translate(0,-50%); 
                                    font-weight: 700;}
/* 본문 메인텍스트를 왼쪽으로 띄움, 부모 : li*/

#main-visual ul.slide li:last-child p.slogan {color: #ffffff;}

#main-visual ul.slide li p.slogan > span{display: block; font-size: 16px; margin-bottom: 5px;} /*block으로 바꾼 이유는 줄바꿈*/
#main-visual ul.slide li p.slogan > em {font-size: 100px; line-height: 1em;}
#main-visual ul.slide li:first-child a {position: absolute; top: 200px; left: calc(50% + 250px); 
                                        transform: translate(-50%,0);}

#main-visual p.control {position: absolute; left: 200px; bottom: 0; bottom: -50px;}
#main-visual p.control a {display: inline-block; width: 100px; height: 100px; 
                          color: #ffffff; border-radius: 100px; position: relative;
                          font-size: 30px;}
#main-visual p.control a + a {margin-left: 10px;}

#main-visual p.control a.prev {background: #2bb673;}
#main-visual p.control a.next {background: #0ba9b5;}

#main-visual p.control a i { position: absolute; left: 50%; top:50%; transform: translate(-50%, -50%);}                          

/*5개 div 부분*/
#main-summary{padding: 100px 0;}
#main-summary > div.content-box {max-width: 1200px; margin: 0 auto; background: pink; overflow: hidden;}
/*overflow: hidden; floating된 자식의 높이를 인식하게 됨*/
#main-summary > div.content-box >div {float: left; box-sizing: border-box;}

/*가로 폭이 100퍼가 되야함?*/
#main-summary div.product {width: 30%; height: 600px; padding: 40px;
                           background: url(../img/main_content_01.jpg) center center no-repeat;
                           color: #ffffff;} 
#main-summary h3 {position : relative;font-size: 20px; margin-bottom: 30px;}
#main-summary h3::after {content: ''; position: absolute; left: 0; width: 40px; height: 3px;
                         background: #ffffff; bottom: -10px;} /*줄 긋기*/

#main-summary div.slogan {width: 50%; height: 300px;
                          background: url(../img/main_content_02.jpg) right center no-repeat;} 
#main-summary div.rnd {width: 20%; height: 300px;}
#main-summary div.odm {width: 20%; height: 300px;}
#main-summary div.bg {width: 50%; height: 300px;
                     background: url(../img/main_content_03.jpg) center center no-repeat;}

/*module*/
span.green {color: #2bb673;}
span.lime {color: #0ba9b5;}












