@charset 'utf-8';
/* CSS Document */

/*
1.위치기준을 주는 태그를 하나로 딱 지정하기 
2.이미지태그는 인라인요소
3.absolute 사용할 때 해당 태그 콘텐츠 크기로 줄어들고 붕 떠버림
4. left: 10px; 은 static이 아닌 태그를 찾아서 올라가다가 <body>까지 가버림
5.위치기준을 제공하는 태그에만 position : relative; 작성
6.position: absolute;로 지정하면 인라인블록으로 해당 태그 컨텐츠만큼 크기가 변함
7.ul은 블럭요소라 옆으로 가고 overflow: hidden;쓰는 순간 높이 인식
*/

/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li{padding: 0; margin:0;}
li {list-style: none;} /*리스트 옆에 점 없애기*/
a {color: #333333; text-decoration: none;} /*a 태그 파란색 없애고 데코 없앰*/

#wrapper {height: 3000px;} /*스크롤바 생성 위해 일부러 긴 값을 적용*/


#header {background: pink; position: fixed; width: 100%; } 
/*                            ▲  이미 위치기준이 브라우저로 변경 되어 있고 스크롤을 내려도 안 넘어가고 떠 있음*/
#header > div.box {position : relative; background: yellow; height: 100px; width: 1200px; margin: 0 auto;} 
                                                                                       /* ▲ 가운데로 오게하기 */
#header h1 {background: #999999; position: absolute; left: 10px;} 
/*       ▲  부모 칸 안에서 쫙 퍼져있는 h1이 아무리 폭이 늘어나봐야 1200px을 못 넘어감 */

/*이미지 움직여보기*/
#header h1 a {background: red;}
#header h1 a img {background: lime; position: relative;} 
/*position: absolute; left: 10px; > h1 박스 기준으로 왼쪽으로 10px 이동*/
/*position: relative > 주변 레이아웃(부모, 컨텐츠)에 영향을 주지 않고 이동함*/

#gnb > ul {background: gray; position: absolute; right: 30px; top: 40px;} /* overflow: hidden;*/
#gnb > ul > li {float:left; background: purple;} /*하나 li가 보라색인데 5개가 쌓여있으니 큰 한 박스로 보임*/

/*          ▼ 바로 밑에 있는 첫번째 li만 고름
#gnb > ul > li:nth-child(1) {background: #f9f9f9; float: left;}
/*플로팅으로 떠버린 인라인블록, 나머지 li들은 밑에 배경으로 깔림
#gnb > ul > li:nth-child(2) {background: yellow; float: left;}  
#gnb > ul > li:nth-child(3) {background: lime; float: left;}
#gnb > ul > li:nth-child(4) {background: blue; float: left;}
#gnb > ul > li:nth-child(5) {background: #999999; float: left;} */
