@charset 'utf-8';
/* CSS Document */


/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;}
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m:after {content: '\00a0';}
.ir-hidden {position: absolute; left: -9999px;}


/* common */
body {font-family: 'Noto Serif KR', serif; font-weight: 400; font-size: 14px; color: #333333; background: #ffffff;}
#wrapper {min-width: 1024px; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; font-size: 16px; color: #ffffff; background: rgba(0, 0, 0, 0.6); z-index: 10000; transition: top 0.3s;}
#skip-nav:focus {top: 0;}

#header {position: fixed; left: 0; top: 0; width: 100%; height: 100px; z-index: 1000;}
#header h1 {position: absolute; left: 50px; bottom: 0;}
#header h1 a {display: block; width: 100%; height: 100%;}
#header h1 a img.icon1 {position: absolute; top: 0; left: 50%; transform: translate(-110%, 0);}
#header h1 a img.icon2 {position: absolute; top: 10px; left: 50%; transform: translate(10%, 0);}
#header a.menu {position: absolute; right: 50px; bottom: 0; font-size: 26px; font-weight: 700; padding-right: 40px;}
#header a.menu img {position: absolute; right: 0; top: 50%; transform: translate(0, -50%);}

#gnb {transition: right 0.5s; position: fixed; right: -500px; top: 0; width: 450px; height: 100%; background: #ffffff; box-shadow: -10px 0 50px 0 rgba(0, 0, 0, 0.3); overflow: hidden; transform: right 0.3s; z-index: 100;}
#gnb.open {right: 0;}
#gnb img.bg1 {position: absolute; right: -100px; top: 10px; animation: rotate-forward 20s linear 0s infinite normal forwards;}
#gnb img.bg2 {position: absolute; right: 30px; bottom: 15%; animation: rotate-backward 30s linear 0s infinite normal forwards;}
#gnb:before {content: ''; position: absolute; left: -130px; bottom: 30%; width: 200px; height: 200px; border-radius: 200px; background: rgba(243, 241, 230, 0.4);}
#gnb a.close {position: absolute; right: 50px; top: 50px;}
#gnb ul {position: absolute; left: 100px; top: 50%; transform: translate(0, -50%); font-size: 26px; font-weight: 200;}
#gnb ul li + li {margin-top: 34px;}
#gnb ul li a {display: block; position: relative;}
#gnb ul li a:before {content: ''; position: absolute; left: -12px; top: -2px; width: 20px; height: 20px; border-radius: 20px; z-index: -1; background: transparent; transition: background 0.5s;}
#gnb ul li a:hover:before {background: #ede6d2;}
#gnb p.copyright {position: absolute; left: 0; bottom: 50px; width: 100%; text-align: center; color: #999999; font-size: 13px;}

#quick-menu {position: fixed; right: 30px; top: 200px; background: #2a2928; color: #cfcfcf; width: 120px; text-align: center;}
#quick-menu em {display: block;}
#quick-menu a.open {position: absolute; width: 90px; height: 90px; left: 15px; top: -50px; border-radius: 100px; overflow: hidden; background: #2a2928; border: 1px solid #cbac75; box-sizing: border-box; padding-top: 25px; color: #ffffff; font-size: 14px; font-weight: 700;}
#quick-menu a.open img {transition: transform 0.3s;}
#quick-menu a.open span {font-size: 20px;}
#quick-menu ul {padding: 50px 0 10px 0; overflow: hidden; height:620px; transition: height 0.3s; font-size: 13px; font-weight: 200;}
#quick-menu ul li {position: relative;}
#quick-menu ul li:before {content: ''; position: absolute; left: 50%; transform: translate(-50%, 0); bottom: -3px; width: 70%; height: 1px; background: #cfcfcf;}
#quick-menu ul li + li {margin-top: 5px;}
#quick-menu ul li a {display: block; padding: 10px 5px;}
#quick-menu a.top {display: block; padding: 15px 5px;}
#quick-menu.close a.open img {transform: rotate(180deg);} /*화살표 돌리기*/
#quick-menu.close ul {height: 0;}
#header span.haccp {position: absolute; left: 50px; bottom: -140px;}

#footer {position: relative; background: #1a1b1d; color: #878683; font-size: 13px;}
#footer > div {position: relative; max-width: 1200px; margin: 0 auto;}

/* main */

/* ▼ 홈페이지의 main만 고를 때 (서브페이지도 main태그가 중복 됐을 때 사용) */
body.main #main{padding-top: 100vh;} /*vh = 브라우저의 높이기준 / % 사용은 X */ 
#main-visual {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #f2f2f2;}

#main-visual:before{content: ''; position: absolute; left: 0; top: 0; width: 380px; height: 100%; background: #ffffff;}

/* ▼ 자기 부모 크기의 100%의 크기를 사용*/
#main-visual div.content {position: absolute; left: 0; top: 0; width: 100%; height: 100%;
                            display: none;} /*하나씩 작업하기 때문에 통채로 안 보이게 해서 한 장만 꺼냄 */

/*#main-visual > div.content:first-child {display: block;}*/
/*               ▼  밑에 깔려 있는 내용들 보기*/
#main-visual > div.content:nth-child(1) {display: block;}

/*메인 마카롱 왼쪽 설명 부분*/
#main-visual div.content div.text {position: absolute; left: 10%; top: 50%; transform: translate(0, -50%); z-index: 10;}
#main-visual div.content div.text h3 {font-size: 80px; line-height: 100px;}
#main-visual > div.content div.text ul {margin: 50px 0; font-size: 16px; color: #999999;}
#main-visual > div.content div.text ul li {background: url(../img/icon_bullet.gif) 0 center no-repeat; padding-left: 25px;}
#main-visual > div.content div.text ul li + li {margin-top: 10px;}

#main-visual div.content > img.icon-top {position: fixed; left: 25%; top: 0;}
#main-visual div.content > img.icon-left {position: fixed; left: 15%; bottom: 2%;}
#main-visual div.content > img.icon-right {position: fixed; right: -30px; top: 300px;}


/*마카롱이 뱅글뱅글 돌아가는 부분                                  ▼  화면 폭의 절반(폭과 높이가 창 줄어들 때 같이 줄어듦 */
#main-visual > div.indicator {position: fixed; right: 160px; width: 50vw; height: 50vw; 
                              background: pink; overflow: hidden;
                              bottom: -10vw;}
                            /* ▲ -10vw; 창을 줄이면 콘텐츠가 브라우저 크기만큼 작아지고 밑으로 내려감*/

/* 박스 안에 원 그리기 */
#main-visual > div.indicator:before {content: ''; position: absolute; left: 50%; top: 50%; 
    transform: translate(-50%,-50%); width: calc(100% - 60px); height: calc(100% - 60px); 
    border: 2px solid #f0f0f0; border-radius: 100%; box-sizing: border-box;}       
 
#main-visual > div.indicator:after {content: ''; position: absolute; left: 50%; top: 50%; 
        transform: translate(-50%,-50%); width: calc(100% - 120px); height: calc(100% - 120px); 
        border: 2px dashed #e0e0e0; border-radius: 100%; box-sizing: border-box;
        animation: rotate-forward-indicator 80s linear 0s infinite normal forwards;}       

#main-visual > div.indicator ul.product li {position: absolute; left: 50%; top: 0;
              transform: translate(-50%,0); height: 50%; background: #f9f9f9;
              transform-origin: center bottom;} /*transform-origin 중앙의 아래쪽이 중심*/   
                                      
#main-visual > div.indicator ul.visual {}
#main-visual > div.indicator ul.visual li span.bg {position: absolute; left: 50%; top: 50%;
transform: translate(-50%, -50%); width: calc(100% - 140px); height: calc(100% - 140px);
overflow: hidden; border-radius: 100%; box-sizing: border-box;}


#main-visual div.indicator ul.visual span.bg img {position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%);}

#main-visual div.indicator ul.visual span.product {position: absolute; left: 50%; top: 50%; 
    transform: translate(-50%, -50%); width: calc(100% - 200px); height: calc(100% - 200px);}

#main-visual div.indicator ul.visual span.product img{ width: 100%; position: absolute; left: 50%;
top: 50%; transform: translate(-50%,-50%); }

/*돌리기 / transform: translate(-50%,0) rotate(36deg); 나중에 쓴 명령이 앞에 있는 걸 덮여쓰기 때문에 한 번 더 작성*/
#main-visual div.indicator ul.product li:nth-child(1) {transform: translate(-50%, 0) rotate(0);}
#main-visual div.indicator ul.product li:nth-child(2) {transform: translate(-50%, 0) rotate(36deg);}
#main-visual div.indicator ul.product li:nth-child(3) {transform: translate(-50%, 0) rotate(72deg);}
#main-visual div.indicator ul.product li:nth-child(4) {transform: translate(-50%, 0) rotate(108deg);}
#main-visual div.indicator ul.product li:nth-child(5) {transform: translate(-50%, 0) rotate(144deg);}
#main-visual div.indicator ul.product li:nth-child(6) {transform: translate(-50%, 0) rotate(180deg);}
#main-visual div.indicator ul.product li:nth-child(7) {transform: translate(-50%, 0) rotate(216deg);}
#main-visual div.indicator ul.product li:nth-child(8) {transform: translate(-50%, 0) rotate(252deg);}
#main-visual div.indicator ul.product li:nth-child(9) {transform: translate(-50%, 0) rotate(288deg);}
#main-visual div.indicator ul.product li:nth-child(10) {transform: translate(-50%, 0) rotate(324deg);}

#main-visual > div.indicator ul.product li a {position: relative; display: block; height: 50px; background: yellow;
                                            text-align: center; z-index: 100; font-size: 12px; line-height: 20px;}
#main-visual > div.indicator ul.product li a span {display: inline-block; width: 12px; height: 12px;
                                                background: red; border-radius: 12px;}
/*줄 바꿈*/
#main-visual > div.indicator ul.product li a em {display: block; }

#main-brand{position: relative; background: #ffffff; padding-top: 200px;}
#main-brand h2 {text-align: center; background: url(../img/bg_title.png) center bottom no-repeat;
font-size: 40px; padding-bottom: 30px; font-weight: 400; margin-bottom: 40px;}

#main-brand div.content {position: relative;}
#main-brand div.content img.bg {min-width: 100%; position: relative; left: 50%;
                                transform: translate(-50%,0);}
#main-brand div.content img.sub {position: absolute; left: calc(50%-220px); bottom: -180px; transform: translate(-50%),0;
                                z-index: 100;}
#main-brand div.content p {position: absolute; left: 0;}
#main-brand div.content div.text {position: absolute; left: 10%; top: 50%; transform: translate(0,-50%);}

#main-macaron {position: relative; background: #f4f4f4; padding-top: 150px; padding-bottom: 100px;} 

#main-macaron h2 {text-align: center; background: url(../img/bg_title.png) center bottom no-repeat;
    font-size: 40px; padding-bottom: 30px; font-weight: 400; margin-bottom: 40px;}

#main-macaron div.indicator {text-align: center; margin-bottom: 50px;}

#main-macaron div.indicator * {display: inline-block;}
#main-macaron div.indicator li {margin-left: 30px;}

/* 카드형 디자인 부분 */
#main-macaron ul.product {overflow: hidden; padding: 0 50px;}
#main-macaron ul.product li {float: left; width: 22%; text-align: center; margin-bottom: 30px;
                            overflow: hidden; margin-right: 4%;} /*4칸 지정 : width: 25%;*/
/* 4의 배수인 아이들만 고름 */
#main-macaron ul.product li:nth-child(4n){margin-right: 0;}

/*아래로 떨어지는 디자인*/ 
#main-macaron ul.product li * {display: block;} 
#main-macaron ul.product li span.image {position: relative; width: 90%; margin: 0 auto;}
#main-macaron ul.product li span.image img {width: 100%;}

#main-macaron ul.product li span.image img.hover {position: absolute; left: 0; top: 0; opacity: 0;
transition: opacity 0.5s;}
#main-macaron ul.product li a:hover span.image img.hover {opacity: 1;}

#main-macaron ul.product li em {font-size: 18px;  margin: 10px 0;}
#main-macaron ul.product li span.en {font-size: 16px; color: #d8b77e;}


    
/*
body.main #main {padding-top: 100vh;}
#main-visual {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #f2f2f2;}
#main-visual:before {content: ''; position: absolute; left: 0; top: 0; width: 380px; height: 100%; background: #ffffff;}
#main-visual div.content {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
#main-visual div.content div.text {position: absolute; left: 10%; top: 50%; transform: translate(0, -50%); z-index: 100;}
#main-visual div.content div.text h3 {font-size: 80px; line-height: 100px;}
#main-visual div.content div.text ul {font-size: 16px; color: #666666; margin: 50px 0;}
#main-visual div.content div.text ul li {padding-left: 25px; background: url(../img/icon_bullet.gif) 0 center no-repeat;}
#main-visual div.content div.text ul li + li {margin-top: 10px;}
#main-visual div.content > img.icon-top {position: fixed; left: 25%; top: 0;}
#main-visual div.content > img.icon-left {position: fixed; left: 15%; bottom: 2%;}
#main-visual div.content > img.icon-right {position: fixed; right: -30px; top: 300px;}
#main-visual div.content:first-child {display: block;}
#main-visual div.indicator {position: fixed; bottom: -10vw; right: 160px; width: 50vw; height: 50vw; background: pink; overflow: hidden;}
#main-visual div.indicator:before {content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: calc(100% - 60px); height: calc(100% - 60px); border: 2px solid #f0f0f0; border-radius: 100%;}
#main-visual div.indicator:after {content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: calc(100% - 120px); height: calc(100% - 120px); border: 2px dashed #f0f0f0; border-radius: 100%; animation: rotate-forward-indicator 80s linear 0s infinite normal forwards;}
#main-visual div.indicator ul.product li {position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); height: 50%; background: #e0e0e0; transform-origin: center bottom;}
#main-visual div.indicator ul.product li:nth-child(1) {transform: translate(-50%, 0) rotate(0);}
#main-visual div.indicator ul.product li:nth-child(2) {transform: translate(-50%, 0) rotate(36deg);}
#main-visual div.indicator ul.product li:nth-child(3) {transform: translate(-50%, 0) rotate(72deg);}
#main-visual div.indicator ul.product li:nth-child(4) {transform: translate(-50%, 0) rotate(108deg);}
#main-visual div.indicator ul.product li:nth-child(5) {transform: translate(-50%, 0) rotate(144deg);}
#main-visual div.indicator ul.product li:nth-child(6) {transform: translate(-50%, 0) rotate(180deg);}
#main-visual div.indicator ul.product li:nth-child(7) {transform: translate(-50%, 0) rotate(216deg);}
#main-visual div.indicator ul.product li:nth-child(8) {transform: translate(-50%, 0) rotate(252deg);}
#main-visual div.indicator ul.product li:nth-child(9) {transform: translate(-50%, 0) rotate(288deg);}
#main-visual div.indicator ul.product li:nth-child(10) {transform: translate(-50%, 0) rotate(324deg);}
#main-visual div.indicator ul.product li a {display: block; background: yellow; text-align: center; font-size: 12px; line-height: 20px;}
#main-visual div.indicator ul.product li a em {display: block;}
#main-visual div.indicator ul.product li a span {display: inline-block; width: 12px; height: 12px; border-radius: 12px; background: red;}
#main-visual div.indicator ul.visual span.bg {position: absolute; left: 10%; top: 10%; width: 80%; height: 80%; border-radius: 100%; overflow: hidden;}
#main-visual div.indicator ul.visual span.product {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 70%;}
#main-visual div.indicator ul.visual span.product img {width: 100%;}



#main-brand {position: relative; background: #ffffff;}

#main-macaron {position: relative; background: #ffffff;}
*/




@keyframes rotate-forward {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes rotate-backward {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}
@keyframes rotate-forward-indicator {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}























/*
animation: circle-effect 1.5s ease-out 0s infinite normal forwards;

@keyframes circle-effect {
    0% {opacity: 1; transform: translate(-50%, 0) scale(0.8);}
    100% {opacity: 0; transform: translate(-50%, 0) scale(1.4);}
}

animation 축약 표현
animation: main-bg-animation 3s ease-out 0.1s 1 normal forwards running;
animation: name duration timing-function delay iteration-count direction fill-mode play-state
duration: 0(default), time, initial, inherit
timing-function: ease(default), linear, ease-in, ease-out, ease-in-out, step-start, step-end, steps(int, start|end), cubic-bezier(n, n, n, n), initial, inherit
deley: 0s(default), time, initial, inherit
direction: normal(default), reverse, alternate, alternate-reverse, initial, inherit
iteration-count: 1(default), number, infinite, initial, inherit
fill-mode: none(default), forwards, backwards, both, initial, inherit
play-state: running(default), paused, initial, inherit  (IE에서는 축약표현에 포함시 동작하지 않음, 별도로 사용)

[최종 사용 예시]
animation: main-bg-animation 3s ease-out 0s 1 normal forwards;
animation-play-state: running;
*/

